@import 'globals/index';
@import 'layouts/index';
@import 'components/index';


.hero-area {
    display: flex;
    padding-top: 103px;
    padding-bottom: 136px;
}

.content-area {
    width: 50%;
    padding-right: 40px;
}

.content-area h1 {
    color: $text-color;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.4px;
    padding-bottom: 30px;
}

.content-area p {
    padding-bottom: 18px;
    color: $text-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}


.content-area .link {
    display: flex;

}

.link a {
    color: $text-color;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    padding-right: 5px;
}

/* Partner Area Start */

.partner-description p {
    color: $partner;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-top: 50px;
}

.partner-images {
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
    padding-bottom: 120px;
}

/* Partner Area End */