/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}
/*
3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/*
Typographic tweaks!
4. Add accessible line-height
5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

hr {
  opacity: 0.2;
}

/* Container */

.container {
  margin: 0 auto;
  width: 1110px;
}

/* Navigation Area Start */

#navigation {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  height: 88px;
  align-items: center;
}

.logo {
  display: flex;
  gap: 30px;
}

.navigation ul {
  display: flex;
  gap: 40px;
}

.navigation a {
  text-decoration: none;
  color: black;
  font-family: "Open Sans", sans-serif;
}

/* Navigation Area End */

/* Hero Area Start */

.hero-area {
  display: flex;
  padding-top: 100px;
  padding-bottom: 120px;
}

.content-area {
  flex-basis: 50%;
}

.description h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -0.699999988079071px;
  padding-bottom: 16px;
}

.description p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 32px;
  padding-bottom: 24px;
}

.price-area {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 48px;
}

.price-area span {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.4000000059604645px;
}

.price-area p {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.5;
}

.learn-button {
  background-color: #0d6efd;
  border: none;
  color: white;
  padding: 16px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
}

/* Hero Area End */

/* Partner Area Start */

.partner-area {
  height: 167px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.partner-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: black;
  opacity: 0.1;
}

.partner-image {
  display: flex;
  align-self: center;
}

.partner-image img {
  padding-right: 70px;
}

/* Partner Area End */

/* Product Area Start */

.card-area {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
}
.card-area-1 {
  display: flex;
}

.card-area-2 {
  display: flex;
}

.card-description h3 {

  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
  padding-top: 24px;
}

.card-description p {
  line-height: 28px;
  padding-bottom: 12px;
}

.card-price {
  display: flex;
}

.card-price span {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  padding-right: 12px;
}

.card-price p {

  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}

.card-area-1 {
  padding-bottom: 82px;
}

.card-area-2 {
  padding-bottom: 82px;
}

/* Product Area End */

/* Custom Bundles Area Start  */

.bundle-area {
  padding-top: 80px;
  padding-bottom: 90px;
}

.bundle-header {
  display: flex;
  position: relative;
  padding-bottom: 64px;
}

.bundle-header img {
  position: absolute;
  bottom: 70px;
  left: 340px;
}

.bundle-header h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.4000000059604645px;
}

.bundle-image {
  display: flex;
  gap: 30px;
}

/* Custom Bundles Area End  */

/* Articles Area Start */

.header-area h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0px;
  font-family: "Montserrat", sans-serif;
}

.header-area a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
}

.header-area {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  padding-top: 80px;
}

.articles-image {
  display: flex;
  padding-bottom: 80px;
  padding-top: 24px;
  gap: 24px;
}

.article-card p {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
}
.description-area {
  padding-top: 16px;
}

.description-area a{
  text-decoration: none;
  color: black;
}

.article-card h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0px;
}

/* Articles Area End */

/* Question Area Start */

.question-area {
  padding-top: 120px;
  padding-bottom: 120px;
}

.question-area h5 {
  padding-bottom: 32px;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
}

.question-table h6 {
  padding: 24px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
.question-table p {
  padding: 24px 0;
}

.content-question-table p {
  padding: 24px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.content-question-table h6 {
  padding-bottom: 16px;
  padding-top: 26px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}

/* Question Area End */

/* Imange Area Start */
.call-to-action {
  display: flex;
  align-items: start;
  justify-content: center;
  padding-bottom: 80px;
}
/* Imange Area End */

/* Footer Area Start */

.footer-area-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 150px;
}

.links ul {
  display: flex;
  text-decoration: none;
  gap: 56px;
}

.links a {
  text-decoration: none;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #212121;
}

.footer-area-down {
  display: flex;
  justify-content: space-between;
}

.footer-icon {
  display: flex;
  gap: 62px;
  padding-bottom: 44px;
}

.links li{
  list-style-type: none;
}

.copirate-area p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.5;
}

/* Footer Area End */
