.container {
  width: 1100px;
  margin: 0 auto;
}
.nav-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 21px 0;
}

.nav-links ul {
  display: flex;
  gap: 50px;
  font-weight: 600;
}

.nav-links ul a {
  color: black;
  text-decoration: none;
}
.avatar {
  display: flex;
  gap: 15px;
  align-items: center;
}

.avatar img {
  border-radius: 15px;
}

.hero-area {
  background-image: linear-gradient(rgba(0, 0, 0, 0.293), rgba(0, 0, 0, 0.19)),
    url("../img/Hero-Image.png");
  height: 89.5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 150px;
}

.hero-content h3 {
  font-size: 80px;
  text-align: center;
}

.vote-area {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 120px;
}

.vote a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipes-head span {
  color: black;
  font-size: 30px;
}

.recipes-head {
  display: flex;
  justify-content: center;
}

.recipes-area {
  padding-bottom: 180px;
}

.recipes-head {
  padding-bottom: 40px;
}

.recipes-line1 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.card p {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
}
.card img {
  border-radius: 8px;
}

.communication-area {
  background-image: linear-gradient(rgba(0, 0, 0, 0.086), rgba(0, 0, 0, 0.19)),
    url("../img/communication-iamge.png");
  background-repeat: no-repeat;
  border-radius: 10px;
  padding-bottom: 70px;
}

.communication-area h5 {
  padding: 40px;
  font-size: 40px;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.form input {
  width: 15rem;
  height: 3rem;
  border: none;
}

.form :placeholder-shown {
  font-family: "Monsterat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.313);
  padding-left: 13px;
}

.form a {
  width: 2rem;
  height: 3rem;
  border: none;
}

.collections-area {
  display: flex;
  justify-content: space-around;
  padding-top: 70px;
  gap: 40px;
  padding-bottom: 90px;
}

.img-area {
  padding-bottom: 30px;
}

.collection-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}

.collection-header span {
  font-size: 30px;
  color: black;
}

.collection-card span {
  font-size: 25px;
  color: black;
}

.footer-area-up {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-bottom: 50px;
  padding-top: 30px;
}

.links ul {
  display: flex;
  text-decoration: none;
  gap: 56px;
}

.links a {
  text-decoration: none;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #212121;
}

.footer-area-down {
  display: flex;
  justify-content: space-between;
}

.footer-icon {
  display: flex;
  gap: 62px;
  padding-bottom: 44px;
}

.links ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.links li {
  list-style-type: none;
}

.copirate-area p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.5;
}
