html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  min-height: 100vh;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom Reset */

h1 {
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: -0.7 px;
}

p {
  opacity: 0.5;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.container {
  display: grid;
  justify-content: center;
}
/* Buttons */

.btn-blue {
  background-color: #0d6efd;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  min-width: 210px;
}

.search-button {
	background-color: transparent;
	outline: 0;
	border: none;
	width: 30px;
}

.hamburger-button {
	background-color: transparent;
	outline: 0;
	border: none;
}

/* Navigation Area Start */

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#navbar .container .header h1 {
  text-align: center;
}

#navbar .navbar-links {
  margin-top: 32px;
  margin-bottom: 32px;
}

#navbar .logo {
  margin-top: 32px;
  margin-bottom: 32px;
}

#navbar .navbar-links ul {
  display: flex;
  flex-direction: row;
  gap: 15vh;
}

#navbar .navbar-links ul li a {
  text-decoration: none;
  color: black;
}

/* Dropdown Menu */

.dropdown a{
	text-decoration: none;
	display: block;
	min-width: 150px;
	background-color: aliceblue;
	padding: 1rem;


}

.dropbtn {
  background-color: #ffffff00;
  color: black;
  font-size: 15px;
  border: none;
}

.dropbtn::hover + .dropdown-content {
  display: block;
}

.dropbtn::hover {
  background-color: red;
}

.dropdown {
  position: relative;
  display: block;
  cursor: pointer;
}

.dropdown:hover .dropdown-list {
  display: block;
}

.dropdown-list {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 200px;
}
/* Navigation Area End */

/* Hero Area Start */

#about {
  padding-top: 88px;
  padding-bottom: 32px;
}

#about .container .header {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 8px;
}

#about .container .descripton {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 24px;
}

#about .container .button-area {
  display: grid;
  justify-content: center;
}

/* Hero Area End */

/* Box Area Start */

/* Box Area Start */
