.form-group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}

.form-field {
    font-family: inherit;
    width: 150%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 15px;
    color: $black;
    padding: 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }
}

form {
    position: relative;
}

.form-label {
    pointer-events: none;
    position: absolute;
    padding-bottom: 0;
    left: 0;
    bottom: 10px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
}

.form-field:focus {
    ~.form-label {
        bottom: 30px;
        font-size: .5rem;
    }

    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary, $secondary);
    border-image-slice: 1;
}

/* reset input */
.form-field {

    &:required,
    &:invalid {
        box-shadow: none;
    }
}