html {
    box-sizing: border-box;
}

*,*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}