@use '../util' as u;

html {
    box-sizing: border-box;
}

*,*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: u.$font;
    background-color: var(--hero-bg);
    color: var(--text-color);
    margin: 0;
    padding: 0;

}