$hero-bg : #FFC9BA;
$text-color: #212121;

/* Input */
$primary: #11998e;
$secondary: #38ef7d;
$black: #000000;
$gray: #9b9b9b;

/* Partner */
$partner: #807E7E;

/* Big Prod */

$blueprod: #ddeafc;
$whiteprod: #FAFAFB;

/* Featured Prod */

