@media (max-width: 400px) {
  .navigation {
    display: none;
  }
  #navigation {
    display: flex;
    justify-content: start;
    gap: 14rem;
    padding-left: 10px;
  }
  .hero-area {
    display: flex;
    flex-direction: column;
  }
  .hero-area .image-area {
    padding-top: 70px;
    max-width: 40%;
  }
  .description {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .description h1 {
    font-size: 54px;
    padding-right: 650px;
    text-align: center;
  }
  .description p {
    font-size: 18px;
    text-align: center;
    padding-left: 12px;
  }
  .price-area {
    justify-content: start;
    margin-left: 80px;
  }
  .content-area .button-area {
    padding-left: 98px;
  }
  .partner-area {
    padding-bottom: 200px;
    padding-top: 200px;
  }
  .partner-description {
    padding-left: 130px;
    padding-bottom: 40px;
  }
  .partner-image {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 140px;
  }
  .partner-image img {
    max-width: 17%;
  }
  .card-area-1 {
    display: flex;
    flex-direction: column;
  }
  .card-area-2 {
    display: flex;
    flex-direction: column;
  }
  .card img {
    max-width: 37%;
  }
  .card {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-bottom: 0;
  }
  .card-description {
    text-align: center;
    padding-right: 650px;
  }
  .card-price {
    padding-left: 120px;
    padding-bottom: 20px;
  }
  .bundle-header {
    justify-content: start;
  }
  .bundle-header h3 {
    text-align: center;
    font-size: 24px;
    padding-left: 5px;
  }
  .bundle-header img {
    display: none;
  }
  .bundle-image {
    flex-direction: column;
    justify-content: start;
  }
  .bundle-image {
    max-width: 40%;
  }
  .header-area {
    justify-content: start;
    gap: 190px;
  }
  .articles-image {
    flex-direction: column;
  }
  .article-card {
    padding-left: 24px;
  }
}
