@media (max-width: 400px) {
  /* Container */
  .container {
    width: 375px;
  }
  /* Navigation Area Start */
  .navigation {
    display: none;
  }

  #navigation {
    display: flex;
    justify-content: center;
    gap: 14rem;
    padding-left: 10px;
  }

  /* Navigation Area End */

  /* Hero Area Start */
  .hero-area {
    display: flex;
    flex-direction: column;
    padding-top: 40px;

  }
  .hero-area .image-area {
    padding-top: 70px;
    
  }
  
  .description {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .description h1 {
    font-size: 51px;
    text-align: start;

  }
  .description p {
    font-size: 18px;
    text-align: center;
    padding-left: 1px;
  }
  .price-area {
    justify-content: start;
    margin-left: 80px;
  }
  .content-area .button-area {
    padding-left: 98px;
  }

  /* Hero Area End */

  /* Partner Area Start */

  .partner-area {
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  
  .partner-image {
    display: flex;
    flex-direction: column;
    gap: 40px;
    
  }
  .partner-image img {
    width: 200px;
  }

  /* Partner Area End */

  /* Product Area Start */
  .card-area-1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .card-area-2 {
    display: flex;
    flex-direction: column;
  }
 
  
  .card {
    display: flex;
    flex-direction: column;
  }
  .card-description {
    text-align: center;

  }
  .card-price {
    padding-left: 120px;
    padding-bottom: 20px;
  }

  /* Product Area End */

  /* Custom Bundles Area Start */
  .bundle-header {
    justify-content: start;
  }
  .bundle-header h3 {
    text-align: center;
    font-size: 21px;
    padding-left: 25px;
  }
  .bundle-header img {
    display: none;
  }
  .bundle-image a{
    flex-direction: column;
    justify-content: center;
  }

  /* Custom Bundles Area End */

  /* Article Area Start */
  
  .header-area {
    justify-content: start;
    gap: 135px;
  }
  .articles-image {
    flex-direction: column;
  }
  .articles-area {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Article Area End */

  /* Question Area Start */

  .question-area h5 {
    font-size: 23px;
  }
  .question-area h6 {
    font-size: 17px;
  }
  .content-question-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content-question-table p {
    text-align: center;
    
  }

  /* Question Area End */

  /* Footer Area Start */

  .footer {
    padding-top: 30px;
  }

  .links ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer-area-up {
    display: flex;
    align-items: start;
    padding-bottom: 40px;
  }
  .footer-icon {
    gap: 35px;
  }

  /* Footer Area End */
}
