.products {
    display: flex;
    gap: 2rem;
    padding-bottom: 128px;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:  flex-start;
    max-width: 50%;
    background-color: $whiteprod;
    border-radius: 8px;

    &.-wide {
        max-width: 55%;
    }

    &.-blue {
        background-color: $blueprod;
    }

    &__title {
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;

        padding: 40px;
        color: $text-color;
        
        max-width: 62%;
    }
}