.big-prod {
    display: flex;
    gap: 2rem;
    padding-bottom: 128px;

    &__armchair {
        background-color: $blueprod;
        max-width: 55%;
        border-radius: 8px;
        transition: transform .2s;
    }

    &__armchair:hover {
        transform: scale(1.1);
        filter: drop-shadow(rgba(0, 0, 0, 0.342) 1px 1px 8px);
    }

    &__img {
        padding-bottom: 37px;
    }

    &__desklamb {
        background-color: $whiteprod;
        border-radius: 8px;
        transition: transform .2s;
    }
    &__desklamb:hover {
        transform: scale(1.1);
        filter: drop-shadow(rgba(0, 0, 0, 0.342) 1px 1px 8px);
    }

    &__description {
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        text-align: left;
        padding: 40px;
        color: $text-color;
        
        max-width: 62%;
    }

}