

.categories {
    padding: 50px 0;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
        gap: 1rem;

        padding-top: 2rem;
    }

    &__item {
        flex-basis: calc((100% / 2) - (1rem / 2));

        &.-narrow {
            flex-basis: calc(40% - (1rem / 2));
        }

        &.-wide {
            flex-basis: calc(60% - (1rem / 2));
        }
    }
}


.category {
    overflow: hidden;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    max-height: 400px;

    color: #212121;
    border-radius: 6px;

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__title {
        position: absolute;
        left: 1.5rem;
        bottom: 1.5rem;

        display: block;
        padding: 1rem;
        max-width: 185px;

        font-size: 20px;
        font-weight: 600;
        line-height: 30px;

        border-radius: inherit;
        background-color: #fff;
    }
}