.featured-product {
    display: flex;
    gap: 80px;

    padding-bottom: 128px;
    padding-top: 2rem;

    &__card {
        transition: transform .2s;
    }

    &__card:hover {
        transform: scale(1.1);
        filter: drop-shadow(rgba(0, 0, 0, 0.342) 1px 1px 8px);
    }

    &__type {
        color: var(--black-500-gray, #807E7E);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: "Open Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;

        padding-bottom: 4px;
        padding-top: 12px;

    }

    &__name {
        color: $text-color;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;

        padding-bottom: 8px;
    }

    &__price {
        color: $text-color;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 600;
        line-height: 28px;
    }
}