.footer {
    display: flex;
    justify-content: space-around;
    padding: 100px 0;

    /* Responsive */
    @media only screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 4rem;
    }

    /* /Responsive */

    &__desc {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;

        text-align: left;

        color: $partner;
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        max-width: 45%;

        /* Responsive */
        @media only screen and (max-width: 600px) {
            max-width: 100%;
        }

        /* /Responsive */
    }

    &__header {
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;

        text-align: left;
    }

    &__columns {
        display: flex;
        justify-content: center;
        gap: 3rem;

    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
    }

    &__link {
        color: $partner;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
}

.communication {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 30px 0;

    &__social {
        display: flex;
        gap: 3rem;

        /* Responsive */
        @media only screen and (max-width: 600px) {
            gap: 1.4rem;
        }

        /* /Responsive */
    }
}