.nav-area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &__container {
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
}

.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 25px 0;
}

.search-area {
    display: flex;
    justify-content: center;
    align-items: center;
}