/* Buttons Start */

.btn-blue {
  background-color: #434ccc;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.3s;
  border-radius: 4px;
  color: white;
  padding: 12px 56px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.btn-transparent {
  background-color: #434ccc00;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.3s;
  border-radius: 4px;
  color: white;
  padding: 12px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.btn-transparent-blue {
  background-color: #ffffff00;
  border: 1px solid #434ccc;
  transition: 0.3s;
  border-radius: 4px;
  color: #434ccc;
  padding: 12px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.btn-transparent-blue:hover {
  background-color: #434ccc;
  color: white;
}

.btn-transparent:hover {
  background-color: white;
  color: #f1b505;
}

.btn-blue:hover {
  background-color: white;
  color: #434ccc;
}

.btn-yellow {
  background-color: #f1b505;
  border-radius: 3px;
  color: white;
  transition: 0.3s;
  padding: 12px 56px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.btn-yellow:hover {
  color: #f1b505;
  background-color: white;
}

/* Buttons End */

/* Cards Start */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  background-color: white;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

/* Cards End */

.container {
  margin: 0 auto;
  max-width: 1300px;
}

.blog-container {
  margin: 0 auto;
  max-width: 1150px;
}

.hero {
  background-color: #434ccc;
  height: 100vh;
}

/* Navigation Area Start */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 111px;
  padding: 20px 0;
}

.nav-button ul {
  display: flex;
  gap: 45px;
  list-style: none;
  color: white;
}

.nav-button a {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: white;
}

.nav-button {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* Navigation Area End */

/* Hero Area Start */

.hero-area {
  display: flex;
  align-items: center;
}

.hero-description {
  flex-basis: 55%;
}

.hero-description span {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3em;
  color: white;
}

.hero-description h1 {
  font-size: 72px;
  font-weight: 400;
  line-height: 80px;
  color: white;
  padding-bottom: 50px;
  padding-top: 30px;
  padding-bottom: 32px;
}

.hero-description p {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: white;
  padding-bottom: 41px;
}

.mobile-img {
  display: none;
}

.hero-image img {
  object-fit: none;
  /* object-position: 10% 0; */
}
/* Hero Area End */

/* Service Area Start */

.service-area {
  background-color: #ffdd78;
}

.service-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  gap: 29px;
}

.service-header h2 {
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
}

.service-header p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  padding-bottom: 36px;
}

.card-area {
  display: flex;
  gap: 30px;
  padding-bottom: 80px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.package-image img {
  padding-top: 62px;
  padding-bottom: 62px;
}

.delivery-image img {
  padding-top: 62px;
  padding-bottom: 78px;
}

.delivery-time-image img {
  padding-top: 62px;
  padding-bottom: 53px;
}

.card h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 15px;
}

.card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.card a {
  padding-top: 18px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: start;
  padding-bottom: 20px;
  color: black;
}

.card .link {
  display: flex;
  float: inline-start;
}

.card .container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.251);
  padding-bottom: 25px;
}

/* Service Area End */

/* Blog Area Start */

.mobile-blog-area2 {
  display: none;
}

.blog-area {
  padding-bottom: 117px;
}

.head-area span {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3em;
  padding: 21px 0;
}

.head-area h2 {
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  padding-bottom: 29px;
}

.head-area p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  padding-bottom: 90px;
}

.head-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-area1 {
  display: flex;
  align-items: center;
  justify-content: cetner;
  padding-bottom: 160px;
}

.blog-area1 .description {
}

.blog-area2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-area2 .description {
  flex-basis: 30%;
}

.blog-area1 .description {
  flex-basis: 60%;
}

.blog-area2 .blog-img {
  flex-basis: 47%;
  justify-content: end;
}

.description h3 {
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  padding-bottom: 37px;
  text-align: start;
}

.description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: gray;
  padding-bottom: 37px;
}

.description a {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: black;
}

.blog-img {
  flex-basis: 70%;
  display: flex;
  justify-content: center;
}

/* Blog Area End */

/* Document Area Start */

.document-area {
  display: none;
}

.document-img-area img {
  width: 100%;
}

.document-bg {
  background-color: #434ccc;
  max-height: 768px;
}

.document-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.document-header span {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3em;
  color: white;
  padding-top: 79px;
  padding-bottom: 21px;
}

.document-header h3 {
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  color: white;
  padding-bottom: 29px;
}

.document-header p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}

.document-area-desktop {
  position: relative;
}

.document-img-area {
  padding-bottom: 20px;
}

.document-img-area span {
  position: absolute;
  top: 111px;
  color: rgba(255, 255, 255, 0.425);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  left: 90px;
}

.document-img-area h2 {
  position: absolute;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  color: white;
  top: 156px;
  left: 90px;
}

.document-img-area a {
  position: absolute;
  top: 320px;
  left: 90px;
  color: white;
}

.document-cards-area {
  display: flex;
  gap: 20px;
  padding-bottom: 50px;
}

.document-card {
  position: relative;
}

.document-card span {
  position: absolute;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.425);
  left: 90px;
  top: 79px;
}

.document-card h4 {
  position: absolute;
  top: 120px;
  left: 90px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: white;
}

.document-card a {
  position: absolute;
  top: 250px;
  left: 90px;
  border: 1px solid rgba(255, 255, 255, 0.425);
  border-radius: 4px;
  padding: 13px;
}

.work-btn-area {
  display: flex;
  justify-content: center;
}

/* Document Area End */
