.nav-button {
  display: none;
}

.hero-area {
  display: flex;
  flex-wrap: wrap;
}

.service-header {
  text-align: center;
}

.card {
  width: 100%;
}

.card-area {
  display: flex;
  flex-wrap: wrap;
}

.hero-description h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 40px;
  color: white;
  padding-top: 4px;
  padding-bottom: 11px;
}

.hero-description {
  flex-basis: 94%;
}

.hero-description p {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: white;
  padding-bottom: 11px;
}

.mobile-img {
  display: block;
}

.desktop-img {
  display: none;
}

.card-area {
  display: flex;
  flex-wrap: wrap;
}

.service-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-area1 {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 80px;
}

.blog-area2 {
  display: flex;
  flex-wrap: wrap;
}

.head-area h2{
  text-align: center;
}

.blog-area1 img{
  transform: scale(1);
  padding-bottom: 10px;
}

.blog-area2 img{
  transform: scale(1.4);

}