/* Dropdown Start */

.dropdown a {
  text-decoration: none;
  display: block;
  min-width: 150px;
  background-color: transparent;
  padding: 1rem;
  color: aliceblue;
}

.dropdown span {
  color: white;
  padding-right: 45px;
}

.dropbtn {
  background-color: #ffffff00;
  color: black;
  font-size: 15px;
  border: none;
}

.dropbtn::hover + .dropdown-content {
  display: block;
}

.dropbtn::hover {
  background-color: red;
}

.dropdown {
  position: relative;
  display: block;
  cursor: pointer;
}

.dropdown:hover .dropdown-list {
  display: block;
}

.dropdown-list {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 200px;
}

.dropdown-list a {
  color: black;
}

/* Dropdown End */

.container {
  margin: 0 auto;
  width: 1110px;
}

.card-container {
  width: 274px;
}

/* Nav Area Start */

.nav-content {
  display: flex;
}

.nav-content a {
  padding: 0 20px;
}

.nav-content img {
  padding: 0 5px;
}

#nav-area {
  display: flex;
  justify-content: space-between;
  padding: 34px 0;
}

/* Nav Area End */

/* Hero Area Start */

.hero-area {
  padding-top: 50px;
}

.hero-area .hero-content {
  padding-top: 80px;
}

.hero-content h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -0.7px;
  color: white;
}
.hero-content p {
  padding-top: 16px;
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
.button-area {
  display: flex;
  padding: 50px 0;
  gap: 27px;
}

.hero-area {
  display: flex;
}
.hero-content {
  flex-basis: 50%;
}

/* Hero Area End */

/* Partner Area Start */

.partner-area {
  height: 167px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 180px 0;
}

.partner-description p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.5;
  padding-bottom: 20px;
}

.partner-image {
  display: flex;
  align-self: center;
  opacity: 0.5;
  gap: 90px;
}

/* Partner Area End */

/* Custom Bundles Area Start */

.custom-bundles {
  height: 819px;
}

.custom-bundles span {
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.custom-bundles h2 {
  color: white;
  padding-bottom: 72px;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.4000000059604645px;
  padding: 50px 0;
}

/* Custom Bundles Area End */

/* Integrations Area Start */

.integrations-area {
  display: flex;
  align-items: center;
  height: 700px;
}

.integrations-desctiption {
  flex-basis: 65%;
}

.integrations-desctiption span {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}

.integrations-desctiption p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.integrations-desctiption h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.4000000059604645px;
  padding-top: 30px;
}

.integrations-area p {
  font-size: 14px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
}

.integrations-desctiption a {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  text-decoration: none;
  color: white;
}

/* Integrations Area End */

/* Analytics Area Start */

.analytics-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.analytics-area span {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  padding-bottom: 16px;
}

.analytics-area h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.4000000059604645px;
  padding-bottom: 48px;
}

.analytics-area img {
  padding-bottom: 240px;
}

/* Analytics Area End */

/* Pricing Card Area Start */

.header-area {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-bottom: 48px;
  text-align: center;
}

.header-area span {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  padding-bottom: 16px;
}

.header-area h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.4000000059604645px;
  padding-bottom: 48px;
}

.card-area {
  display: grid;
  grid-template-columns: auto auto auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 354px;
  height: 388px;
  background-color: #121212;
  border: 0.1px solid #121212;
  border-radius: 12px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container h5 {
  padding-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}

.card-container p {
  padding-bottom: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.card-container h2 {
  padding-bottom: 40px;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -0.699999988079071px;
}

/* Pricing Card Area End */
