@media (max-width: 375px) {
    .nav-content {
        display: none;
    }

    .container {
        width: 345px;
    }

    .hero-area {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }

    .hero-content {
        padding: 0;
        margin: 0;
    }

    .hero-content h1{
        font-size: 40px;
        line-height: 40px;
    }

    .hero-content p {
        padding-top: 16px;
        color: white;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
      }
  }